* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  background: whitesmoke;
}

.loading {
  background: rgba(0, 0, 0, 0.719);
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.error {
  background: white;
  font-size: 2rem;
  font-weight: normal;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 20px;
}

nav .wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .location-info {
  background: gray;
}

nav .location-info .wrapper {
  display: block;
  padding: 10px;
}

nav .location-info .wrapper .location {
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

nav .location-info .wrapper form input {
  padding: 10px 15px;
  width: 100%;
  border-radius: 7px;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav .location-info .wrapper form ::-webkit-input-placeholder {
  text-transform: capitalize;
}

nav .location-info .wrapper form :-ms-input-placeholder {
  text-transform: capitalize;
}

nav .location-info .wrapper form ::-ms-input-placeholder {
  text-transform: capitalize;
}

nav .location-info .wrapper form ::placeholder {
  text-transform: capitalize;
}

nav .navigation .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .navigation .wrapper li {
  padding: 10px 5px;
}

nav .navigation .wrapper li a {
  color: gray;
}

@media (min-width: 768px) {
  nav .location-info .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .location-info .wrapper form input {
    width: 300px;
  }
  nav .navigation .wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  nav .navigation .wrapper li {
    margin-right: 20px;
  }
}

.now .wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
}

.now .wrapper .card {
  background: #f5faff;
  padding: 20px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 20px 0 rgba(128, 128, 128, 0.267);
          box-shadow: 0 0 20px 0 rgba(128, 128, 128, 0.267);
  border-radius: 10px;
}

.now .wrapper .card .time {
  color: gray;
}

.now .wrapper .card .title {
  font-size: 1.1rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.now .wrapper .card .title .description {
  font-weight: normal;
  font-size: 1.4rem;
}

.now .wrapper .card .main > div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.now .wrapper .card .main > div .temp-container {
  text-align: center;
}

.now .wrapper .card .main > div .temp-container .temp {
  font-size: 3.5rem;
}

.now .wrapper .card .details li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.473);
}

@media (min-width: 576px) {
  .now .wrapper .card > div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    place-items: center;
  }
  .now .wrapper .card .details {
    width: 100%;
  }
}

.hourly .wrapper {
  width: 90%;
  max-width: 500px;
  margin: 20px auto;
  min-height: 100vh;
}

.hourly .wrapper .day .titleBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.342);
}

.hourly .wrapper .day .titleBar span {
  pointer-events: none;
  font-weight: bold;
  color: #474747;
}

.hourly .wrapper .day .titleBar span:last-child {
  width: 20px;
}

.hourly .wrapper .cards {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 500ms ease-out;
  transition: max-height 500ms ease-out;
  margin-top: 10px;
}

.hourly .wrapper .cards .card {
  background: #f7feff;
  overflow: hidden;
  padding: 0 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px 0 rgba(128, 128, 128, 0.342);
          box-shadow: 0 0 10px 0 rgba(128, 128, 128, 0.342);
}

.hourly .wrapper .cards .card .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hourly .wrapper .cards .card .main > div {
  pointer-events: none;
}

.hourly .wrapper .cards .card .main .timestamp .time {
  font-size: 1rem;
}

.hourly .wrapper .cards .card .main .timestamp .date {
  color: gray;
  font-size: 0.8rem;
}

.hourly .wrapper .cards .card .main .temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hourly .wrapper .cards .card .main .temp img {
  width: 40px;
}

.hourly .wrapper .cards .card .main .temp h3 {
  font-weight: normal;
  font-size: 1.4rem;
}

.hourly .wrapper .cards .card .main .description {
  font-size: 1.3rem;
  display: none;
}

.hourly .wrapper .cards .card .main .wind {
  display: none;
}

.hourly .wrapper .cards .card .main svg {
  width: 20px;
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
  pointer-events: none;
}

.hourly .wrapper .cards .card .details {
  max-height: 0;
  -webkit-transition: max-height 500ms linear;
  transition: max-height 500ms linear;
}

.hourly .wrapper .cards .card .details li {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.63);
  text-transform: capitalize;
  color: #4b4b4b;
}

.hourly .wrapper .cards .card .details li:last-child {
  border-bottom: none;
  padding-bottom: 30px;
}

.hourly .wrapper .cards .card .activeDetails {
  max-height: 500px;
}

@media (min-width: 576px) {
  .hourly .wrapper .cards .card {
    padding: 0 20px;
  }
}

.hourly .wrapper .openCards {
  max-height: 3000px;
}

.daily .wrapper {
  width: 90%;
  max-width: 500px;
  margin: 20px auto;
  min-height: 100vh;
}

.daily .wrapper .cards {
  overflow: hidden;
  margin-top: 50px;
}

.daily .wrapper .cards .card {
  background: #f7feff;
  overflow: hidden;
  padding: 0 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px 0 rgba(128, 128, 128, 0.342);
          box-shadow: 0 0 10px 0 rgba(128, 128, 128, 0.342);
}

.daily .wrapper .cards .card .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.daily .wrapper .cards .card .main > div {
  pointer-events: none;
}

.daily .wrapper .cards .card .main .timestamp .date {
  color: #303030;
  font-size: 1rem;
}

.daily .wrapper .cards .card .main .temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.daily .wrapper .cards .card .main .temp img {
  width: 40px;
}

.daily .wrapper .cards .card .main .temp h3 {
  font-weight: normal;
  font-size: 1.4rem;
}

.daily .wrapper .cards .card .main .realfeel {
  display: none;
}

.daily .wrapper .cards .card .main .description {
  font-size: 1.3rem;
}

.daily .wrapper .cards .card .main .wind {
  display: none;
}

.daily .wrapper .cards .card .main svg {
  width: 20px;
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
  pointer-events: none;
}

.daily .wrapper .cards .card .details {
  max-height: 0;
  -webkit-transition: max-height 400ms linear;
  transition: max-height 400ms linear;
}

.daily .wrapper .cards .card .details li {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.63);
  text-transform: capitalize;
  color: #4b4b4b;
}

.daily .wrapper .cards .card .details li:last-child {
  border-bottom: none;
  padding-bottom: 30px;
}

.daily .wrapper .cards .card .activeDetails {
  max-height: 500px;
}

@media (min-width: 576px) {
  .daily .wrapper .cards .card {
    padding: 0 20px;
  }
}
/*# sourceMappingURL=App.css.map */